.rightimagecard {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: 10px;

	margin-top: 50px;
}

.rightimagecard > div {
	align-items: center;
	justify-items: center;

	max-width: 100%;

	padding: 30px;
}
