.sayhello {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: 10px;
}

.sayhello > div {
	align-items: center;
	justify-items: center;

	max-width: 100%;

	padding: 20px;
}

.sayhello > div > img {
	max-width: 500px;
	height: 500px;

	border-radius: 50%;
}

@media (max-width: 992px) {
	.sayhello {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}
}
