.sayhello {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: 10px;
}

.sayhello > div {
	align-items: center;
	justify-items: center;

	max-width: 100%;

	padding: 20px;
}

.sayhello > div > img {
	width: 400px;
	max-width: 100%;
	height: 400px;

	margin-top: 110px;

	border-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

@media (max-width: 992px) {
	.sayhello {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}
}
