.wrapper {
	display: grid;
	grid-template-columns: auto minmax(320px, 1200px) auto;
	grid-template-rows: auto auto 1fr auto;
}

.header {
	display: none;
}

.body {
	width: 100%;

	height: 100vh;
	margin: 0 auto;
	padding: 0 12px;
}

.admincontainer {
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 1fr;
	gap: 10px;
}

@media (max-width: 1200px) {
	.wrapper {
		display: grid;
		grid-template-columns: minmax(320px, 1fr);

		min-height: 100vh;
		grid-template-rows: auto 1fr auto;
	}

	.navbar {
		display: none;
	}

	.header {
		position: absolute;
		top: 0;
		right: 0;

		display: block;
	}
}
