.navbarlist {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	padding: 0;

	list-style-type: none;

	text-align: left;
}

.navbarlist li {
	position: relative;

	display: inline;

	float: left;
}

.navbarlist a {
	display: inline-block;

	padding: 5px 10px;

	text-decoration: none;

	color: #373249;

	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 33px;
}

.navbarlist li > a:hover {
	color: var(--strong-blue-color);
}

.navbarlist ul {
	position: absolute;
	top: 100%;
	right: 1%;

	display: none;
}

.navbarlist .navbarlist ul {
	margin: 0;
	padding: 0;
}

.navbarlist li:hover ul { display: block; }

.navbarlist ul li {
	float: none;
}

.navbarlist li:nth-child(7) {
	margin-left: 10px;
	padding: 0 15px;

	transition: inherit;

	/* -webkit-text-fill-color: transparent; */

	text-align: center;

	border-radius: 30px;
	background: -webkit-linear-gradient(left, var(--strong-blue-color) 0.46%, var(--light-blue-color) 50%);
	background-color: #FFF;

	/* -webkit-background-clip: text; */
	box-shadow: 0 8px 40px rgb(0 0 0 / 10%);

	font-style: normal;
	line-height: 20px;
}

.navbarlist li:hover {
	/* color: white; */
	background-color: -webkit-linear-gradient(left, var(--strong-blue-color) 0.46%, var(--light-blue-color) 50%);
}

.navbarlist li:nth-child(7) > a {
	font-size: 16px;
	font-weight: 800;
}

.dropdownMenu {
	position: absolute;
	z-index: 1000;
	top: 100%;
	left: 0;

	min-width: 14rem;
	margin: 0.125rem 0 0;
	margin-top: 0;
	padding: 0.5rem 0;

	list-style: none;

	text-align: left;

	color: #212529;
	border: initial;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	background-color: #FFF;
	background-clip: padding-box;
	box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 25%);

	font-size: 1rem;
}

.profiledropdownMenu {
	position: absolute;
	z-index: 1001;
	top: 0;
	right: 0;

	display: none;

	min-width: 14rem;
	margin: 0.125rem 0 0;
	padding: 0.5rem 0;

	list-style: none;

	text-align: left;

	color: #212529;
	border: initial;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	background-color: #FFF;
	background-clip: padding-box;
	box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 25%);
}
